@let url = kcContext.url;
@let messagesPerField = kcContext.messagesPerField;
@let isAppInitiatedAction = kcContext.isAppInitiatedAction;

<ng-template #headerNode>
  <div class="leading-tight tracking-tight mb-4">
    <span class="text-lg font-bold">{{ i18n.msgStr('updatePasswordTitle') }}</span>
  </div>
</ng-template>

<div class="space-y-6">
  <form
    id="kc-passwd-update-form"
    method="post"
    [action]="url.loginAction"
    class="space-y-6"
  >
    <div class="space-y-4">
      <mat-form-field
        appearance="outline"
        class="w-full"
      >
        <mat-label>
          {{ i18n.msgStr('passwordNew') }}
        </mat-label>
        <input
          matInput
          id="password-new"
          name="password-new"
          type="password"
          autofocus
          autocomplete="new-password"
          #passwordField
          [attr.aria-invalid]="messagesPerField?.existsError('password', 'password-confirm')"
        />

        <button
          mat-icon-button
          type="button"
          class="me-2!"
          (click)="
            passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')
          "
          matSuffix
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="passwordField.type === 'password' ? 'heroicons_solid:eye' : 'heroicons_solid:eye-slash'"
          ></mat-icon>
        </button>
        @if (messagesPerField?.existsError('password')) {
          <mat-hint class="text-error">
            {{ messagesPerField.getFirstError('password') }}
          </mat-hint>
        }
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <mat-label>
          {{ i18n.msgStr('passwordConfirm') }}
        </mat-label>
        <input
          matInput
          id="password-confirm"
          name="password-confirm"
          type="password"
          autofocus
          autocomplete="new-password"
          #passwordField
          [attr.aria-invalid]="messagesPerField?.existsError('password', 'password-confirm')"
        />

        <button
          mat-icon-button
          type="button"
          class="me-2!"
          (click)="
            passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')
          "
          matSuffix
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="passwordField.type === 'password' ? 'heroicons_solid:eye' : 'heroicons_solid:eye-slash'"
          ></mat-icon>
        </button>
        @if (messagesPerField?.existsError('password-confirm')) {
          <mat-hint class="text-error">
            {{ messagesPerField.getFirstError('password-confirm') }}
          </mat-hint>
        }
      </mat-form-field>
    </div>

    <kc-logout-other-sessions />

    <div class="flex flex-col sm:flex-row gap-3 pt-4">
      <button
        type="submit"
        matButton="filled"
        class="flex-1 py-2"
      >
        {{ i18n.msgStr('doSubmit') }}
      </button>

      @if (isAppInitiatedAction) {
        <button
          type="submit"
          matButton="outlined"
          name="cancel-aia"
          value="true"
          class="flex-1 py-2"
        >
          {{ i18n.msgStr('doCancel') }}
        </button>
      }
    </div>
  </form>
</div>
