@let url = kcContext.url;
@let triggered_from_aia = kcContext.triggered_from_aia;

<ng-template #headerNode>
  <div class="leading-tight tracking-tight mb-4">
    <span class="text-lg font-semibold">{{ i18n.msgStr('deleteAccountConfirm') }}</span>
  </div>
</ng-template>

<form
  method="post"
  class="space-y-6"
  [action]="url.loginAction"
>
  <kc-alert
    [appearance]="'outline'"
    [type]="'warning'"
    class="mb-6"
  >
    <span [innerHTML]="i18n.msgStr('irreversibleAction') | kcSanitize: 'html'"></span>
  </kc-alert>

  <div class="space-y-4">
    <p class="text-gray-700">{{ i18n.msgStr('deletingImplies') }}</p>

    <ul class="list-disc list-inside space-y-2 text-gray-600 pl-4">
      <li>{{ i18n.msgStr('loggingOutImmediately') }}</li>
      <li>{{ i18n.msgStr('errasingData') }}</li>
    </ul>

    <p class="text-gray-800 font-medium mt-6">
      {{ i18n.msgStr('finalDeletionConfirmation') }}
    </p>
  </div>

  <div class="flex flex-col sm:flex-row gap-4 pt-6">
    <button
      matButton="filled"
      color="warn"
      type="submit"
      class="flex-1 sm:flex-none"
    >
      <mat-icon class="mr-2">delete_forever</mat-icon>
      {{ i18n.msgStr('doConfirmDelete') }}
    </button>

    @if (triggered_from_aia) {
      <button
        matButton="outlined"
        type="submit"
        name="cancel-aia"
        value="true"
        class="flex-1 sm:flex-none"
      >
        {{ i18n.msgStr('doCancel') }}
      </button>
    }
  </div>
</form>
