@let url = kcContext.url;
@let credentialLabel = kcContext.credentialLabel;

<ng-template #headerNode>
  @let credentialLabel = kcContext.credentialLabel;
  <div class="leading-tight tracking-tight mb-4">
    <span
      class="text-lg font-semibold"
      [innerHTML]="i18n.msgStr('deleteCredentialTitle', credentialLabel) | kcSanitize: 'html'"
    ></span>
  </div>
</ng-template>

<div class="space-y-6">
  <kc-alert
    [appearance]="'outline'"
    [type]="'warning'"
    class="mb-6"
  >
    <span [innerHTML]="i18n.msgStr('deleteCredentialMessage', credentialLabel) | kcSanitize: 'html'"></span>
  </kc-alert>

  <form
    class="space-y-4"
    method="post"
    [action]="url.loginAction"
  >
    <div class="flex flex-col sm:flex-row gap-4">
      <button
        matButton="filled"
        color="warn"
        name="accept"
        id="kc-accept"
        type="submit"
        class="flex-1 sm:flex-none"
      >
        <mat-icon class="mr-2">delete_forever</mat-icon>
        {{ i18n.msgStr('doConfirmDelete') }}
      </button>

      <button
        matButton="outlined"
        name="cancel-aia"
        id="kc-decline"
        type="submit"
        class="flex-1 sm:flex-none"
      >
        {{ i18n.msgStr('doCancel') }}
      </button>
    </div>
  </form>
</div>
