@let url = kcContext.url;
@let messagesPerField = kcContext.messagesPerField;
@let realm = kcContext.realm;

<ng-template #headerNode>
  <!-- {{ i18n.msgStr('doLogIn') }} -->
  <div class="leading-tight tracking-tight mb-4">
    <span class="text-2xl font-bold">{{ i18n.msgStr('loginAccountTitle') }}</span>
  </div>
</ng-template>
<div id="kc-form">
  <div id="kc-form-wrapper">
    <form
      id="kc-form-login"
      method="post"
      class="space-y-3!"
      [action]="url?.loginAction"
      (onSubmit)="isLoginButtonDisabled.set(true)"
    >
      <div
        class="no-bottom-margin"
        [kcClass]="'kcFormGroupClass'"
      >
        <!-- <label
          for="password"
          [kcClass]="'kcLabelClass'"
        >
          {{ i18n.msgStr('password') }}
        </label>
        <kc-password-wrapper passwordInputId="password">
          <input
            type="password"
            id="password"
            name="password"
            aria-describedby="input-error-password"
            [kcClass]="'kcInputClass'"
            [required]="true"
            [autofocus]="true"
            autocomplete="on"
            [tabindex]="1"
          />
        </kc-password-wrapper>

        @if (messagesPerField.existsError('password')) {
          <span
            id="input-error-password"
            aria-live="polite"
            [kcClass]="'kcInputErrorMessageClass'"
            [innerHTML]="messagesPerField.getFirstError('password') | kcSanitize: 'html'"
          >
          </span>
        } -->
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          class="w-full"
        >
          <mat-label for="password">
            {{ i18n.msgStr('password') }}
          </mat-label>
          <input
            matInput
            id="password"
            name="password"
            type="password"
            tabindex="1"
            autofocus
            autocomplete="current-password"
            #passwordField
            [attr.aria-invalid]="messagesPerField?.existsError('password')"
          />

          <button
            mat-icon-button
            type="button"
            class="me-2!"
            (click)="
              passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')
            "
            matSuffix
          >
            @if (passwordField.type === 'password') {
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:eye'"
              ></mat-icon>
            }
            @if (passwordField.type === 'text') {
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:eye-slash'"
              ></mat-icon>
            }
          </button>
          @if (messagesPerField?.existsError('password')) {
            <mat-hint class="text-error">
              {{ messagesPerField.getFirstError('password') }}
            </mat-hint>
          }
        </mat-form-field>
      </div>
      <div [kcClass]="['kcFormGroupClass', 'kcFormSettingClass']">
        <div id="kc-form-options"></div>
        <div [kcClass]="'kcFormOptionsWrapperClass'">
          @if (realm.resetPasswordAllowed) {
            <!-- <span>
              <a
                tabindex="5"
                [href]="url.loginResetCredentialsUrl"
              >
                {{ i18n.msgStr('doForgotPassword') }}
              </a>
            </span> -->
            <a
              tabindex="5"
              class="text-md flex justify-end font-medium text-primary hover:underline"
              [href]="url?.loginResetCredentialsUrl"
              >{{ i18n.msgStr('doForgotPassword') }}
            </a>
          }
        </div>
      </div>
      <div
        id="kc-form-buttons"
        [kcClass]="'kcFormGroupClass'"
      >
        <!-- <input
          type="submit"
          id="kc-login"
          name="login"
          [value]="i18n.msgStr('doLogIn')"
          [disabled]="isLoginButtonDisabled()"
          [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonBlockClass', 'kcButtonLargeClass']"
          [tabindex]="4"
        /> -->
        <button
          name="login"
          tabindex="4"
          class="w-full"
          type="submit"
          id="kc-login"
          matButton="filled"
          [disabled]="isLoginButtonDisabled()"
        >
          {{ i18n.msgStr('doLogIn') }}
        </button>
      </div>
    </form>
  </div>
</div>
