@let url = kcContext.url;
@let logoutConfirm = kcContext.logoutConfirm;
@let client = kcContext.client;

<ng-template #headerNode>
  <div class="leading-tight tracking-tight flex flex-col mb-2">
    <span class="text-lg font-bold">{{ i18n.msgStr('logoutConfirmTitle') }}</span>
  </div>
</ng-template>

<div
  id="kc-form"
  class="mt-6"
>
  <div id="kc-form-wrapper">
    <div class="space-y-6">
      <p class="text-sm text-gray-600 dark:text-gray-400">
        {{ i18n.msgStr('logoutConfirmHeader') }}
      </p>

      <form
        method="POST"
        [action]="url.logoutConfirmAction"
        class="space-y-4"
      >
        <input
          type="hidden"
          name="session_code"
          [value]="logoutConfirm.code"
        />

        <button
          tabIndex="4"
          name="confirmLogout"
          id="kc-logout"
          type="submit"
          matButton="filled"
          class="w-full"
        >
          {{ i18n.msgStr('doLogout') }}
        </button>
      </form>

      @if (!logoutConfirm.skipLink && client.baseUrl) {
        <a
          [href]="client.baseUrl"
          class="text-sm text-blue-600 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-300 underline"
        >
          <span [innerHTML]="i18n.msgStr('backToApplication') | kcSanitize: 'html'"></span>
        </a>
      }
    </div>
  </div>
</div>
