@let idpAlias = kcContext.idpAlias;
@let brokerContext = kcContext.brokerContext;
@let realm = kcContext.realm;
@let url = kcContext.url;

<ng-template #headerNode>
  @let idpAlias = kcContext.idpAlias;

  <div class="leading-tight tracking-tight mb-2">
    <span class="text-xl font-bold"> {{ i18n.msgStr('emailLinkIdpTitle', idpAlias) }}</span>
  </div>
</ng-template>

<mat-card class="p-3 mt-3">
  <mat-card-content>
    <div class="space-y-4 text-gray-700 dark:text-gray-300">
      <p
        id="instruction1"
        class="text-sm leading-relaxed"
      >
        {{ i18n.msgStr('emailLinkIdp1', idpAlias, brokerContext.username, realm.displayName) }}
      </p>

      <p
        id="instruction2"
        class="text-sm leading-relaxed"
      >
        {{ i18n.msgStr('emailLinkIdp2') }}
        <a
          [href]="url.loginAction"
          class="text-blue-600 dark:text-blue-400 hover:underline font-medium"
        >
          {{ i18n.msgStr('doClickHere') }}
        </a>
        {{ i18n.msgStr('emailLinkIdp3') }}
      </p>

      <p
        id="instruction3"
        class="text-sm leading-relaxed"
      >
        {{ i18n.msgStr('emailLinkIdp4') }}
        <a
          [href]="url.loginAction"
          class="text-blue-600 dark:text-blue-400 hover:underline font-medium"
        >
          {{ i18n.msgStr('doClickHere') }}
        </a>
        {{ i18n.msgStr('emailLinkIdp5') }}
      </p>
    </div>
  </mat-card-content>
</mat-card>
